.App {
  width:100%;
  height:100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  background: #c0392b;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #8e44ad, #c0392b);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #8e44ad, #c0392b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
}

.gen-name{
  font-size: 3em;
  font-weight: bold;
  text-shadow: 2px 2px #333;
  color:#eee;
  padding:2em;
}

.gen-share{
  display: flex;
  flex-direction: row;
  padding:1em;
  flex-wrap: wrap
}

.gen-share>div{
  margin-left:10px; 
  width:70px;
}
.SocialMediaShareButton>*{
  margin:10px auto;
}

.SocialMediaShareCount{
  padding:3px;
  border-radius: 5px; 
  background:#eee;
  border:1px grey;
}

.button{
  background:#8e44ad;
  outline: none;
  cursor: pointer;
  color: #fff;
  font-size: 1.2em;
  padding:1em 2em;  
  border: 1px solid #592B6C;
  border-radius: 20em;
  box-shadow: 0px 7px 20px -5px #333;
  transition:0.3s all;
}


.button:hover{
  background:#AB55CF;
  transform: translateY(-4px);
}


.button:active, .button:target{
  background:#8e44ad;
  transform: translateY(0);
}


@media(max-width: 720px){
  .gen-name{
    font-size:1.5em;
  }
}